.sidebar {
  background: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;
  /* overflow não deixa os elementos filhos estourar, exemplo da img */
}

.cover {
  width: 100%;
  height: 4.5rem;
  object-fit: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  /* margin-top: -2rem; */
  margin-top: calc(0px - 1.5rem - 6px);
}

.profile strong {
  margin-top: 1rem;
  color: var(--gray-100);
  line-height: 1.6;
}

.profile span {
  font-size: 0.875rem;
  color: var(--gray-400);
  line-height: 1.6;
}

.sidebar footer {
  border-top: 1px solid var(--gray-600);
  padding: 1.5rem 2rem 2rem;
  margin-top: 1.5rem;
}

.avatar {
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);
  /* 
    outra solução para img é usar: 
      box-sizing: initial 
      diferente do border-box, o initial adiciona espaço!
  */
  border-radius: 8px;
  border: 4px solid var(--gray-600);
  outline: 2px solid var(--green-500);
  /* 
    outline é contorno.
    contornos não ocupam espaços, eles são desenhados acima do conteúdo.
  */
}

.sidebar footer a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem 0.875rem;
  gap: 0.5rem;
  border: 1px solid var(--green-500);
  border-radius: 8px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  color: var(--green-500);
  text-decoration: none;
  background: transparent;
  transition: color 0.2s, background-color 0.2s;
}

.sidebar footer a:hover {
  background: var(--green-500);
  color: var(--white);
}
